{#<div class="col-sm-12 col-md-12 col-lg-2 col-xl-1 col-profile">#}
    <div class="col-profile left-menu-profile lmp-img collapse show" id="NavPL-s">
        <ul>
            {#            <li>#}
            {#                <ul class="social">#}
            {#                    <li><a href="#"><i class="fa fb-ic"></i></a></li>#}
            {#                </ul>#}
            {#            </li>#}
            <li>
                <ul>
                    <li><a href="{% url 'my_courses' %}">Мои курсы</a></li>
                    <li><a href="{% url 'messages' %}">Сообщения</a></li>
                </ul>
            </li>
        </ul>
    </div>
{#</div>#}