{% extends 'profile/base.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                <p class="reviews">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="personal-record-block">
        <div class="profile-block-content profile-block">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock content %}