.idea
idea
.DS_Store

*.egg-info/
.installed.cfg
*.egg

dist
db.sqlite3

venv
venv2


prod_settings.py
local_settings.py
flowerconfig.py
DS/email.py
conf

**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

media/*
!*media
!*media/photo.jpg

log/pay.log
log/debug_new.log

build
doc
home.rst
make.bat
Makefile

doc-dev