<footer class="footer page-footer font-small stylish-color-dark pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <ul class="list-unstyled">
                    <li>
                        <a href="/agreement/">Соглашение</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 mx-auto">

            </div>

            <div class="col-md-2 mx-auto">

            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-2 mx-auto">

            </div>
        </div>
    </div>
    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a href="https://vk.com/djangochannel" rel="nofollow" class="btn-floating btn-fb mx-1">
                VK
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://twitter.com/DJWOMS" rel="nofollow" class="btn-floating btn-tw mx-1">
                twitter
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.youtube.com/channel/UC_hPYclmFCIENpMUHpPY8FQ?view_as=subscriber"
               rel="nofollow"
               class="btn-floating btn-li mx-1">
                youtube
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://t.me/trueDjangoChannel" rel="nofollow"
               class="btn-floating btn-dribbble mx-1">
                telegram
            </a>
        </li>
    </ul>
    <div class="footer-copyright text-center py-3">
        <a href="https://djangochannel.com/"> Django Channel</a> © 2018-2019
    </div>
</footer>