{% extends 'base.html' %}
{% block description %}{{ page.description }} {% endblock description %}
{% block title %}{{ page.title }}{% endblock title %}
{% block content %}
    <div class="profile-body">
    <h4 class="">Соглашение</h4>

    <div class="" style="color: #000;">
        <h3>Отказ от ответственности</h3>
        <p>1. Размещаемая на страницах сайта
            djangochannel.com информация предназначена для свободного
            ознакомления пользователей с вопросами, которые могут представлять
            для них интерес.</p>
        <p>2. Вся информация предоставляется
            в исходном виде, без гарантий полноты или своевременности, и без
            иных, явно выраженных или подразумеваемых гарантий. Доступ к
            djangochannel.com, а также использование его содержимого
            осуществляется исключительно по вашему усмотрению и на ваш риск.
        </p>
        <p>
            3.
            Администрация (владельцы djangochannel.com, должностные лица,
            работники, агенты, и иные представители) прикладывает все усилия,
            чтобы обеспечить пользователей точной и достоверной информацией, но в
            то же время не исключает возможности возникновения ошибок.
        </p>
        <p>
            4.
            djangochannel.com &mdash; это проект, работающий по принципу &laquo;как
            есть&raquo;, без заключения каких-либо договорённостей или договоров
            между вами, пользователями данного сайта, администрацией, владельцами
            серверов, на которых он размещён, либо кем-то ещё, любым образом
            связанными с этим или родственными ему проектами, которые (договора)
            могут стать предметом прямых претензий.
        </p>
        <p>
            5. Администрация
            не дает каких-либо заверений или гарантий в отношении
            djangochannel.com и его сервисов, служб, форумов, продуктов или услуг
            (далее &mdash; Сервисы), в том числе, без ограничения в отношении
            своевременности, актуальности, точности, полноты, достоверности,
            доступности или соответствия для какой-либо конкретной цели
            djangochannel.com и Сервисов, в отношении того, что: при
            использовании djangochannel.com не возникнет ошибок, Сервисы будут
            безопасными и бесперебойными, Администрация будет исправлять
            какие-либо ошибки, или что на djangochannel.com не будет вирусов или
            иных вредоносных кодов, а также, что информация на djangochannel.com
            не нарушает прав третьих лиц.
        </p>
        <p>
            6. Некоторые ссылки на
            djangochannel.com ведут к ресурсам, расположенным на сторонних
            сайтах. Данные ссылки размещены для удобства пользователей и не
            означают, что Администрация одобряет содержание других сайтов. Кроме
            этого, Администрация djangochannel.com не несет никакой
            ответственности за доступность этих ресурсов и за их контент. Это
            заявление относится ко всем ссылкам, представленным на
            djangochannel.com, и материалам всех веб-сайтов, доступных через
            баннеры и ссылки на веб-сайте по адресу
            https://djangochannel.com.
        </p>
        <p>
            7. В обязанности Администрации
            не входит контроль легальности передаваемой информации (любой,
            включая, но не ограничиваясь, информацией, передаваемой между
            пользователями, внутренней пересылки в виде различных ссылок, текстов
            или архивов), определение прав собственности или законности передачи,
            приема или использования этой информации.
        </p>
        <p>
            8. Администрация
            принимает разумные меры для обеспечения точности, актуальности и
            правомерности информации, размещенной на djangochannel.com, но она не
            принимает на себя ответственности за действия лиц или организаций,
            прямо или иным образом осуществленные на основании информации,
            имеющейся на djangochannel.com или полученной через него, как
            предоставленной Администрацией, так и третьими лицами.
        </p>
        <p>
            9.
            В соответствии с действующим законодательством, Администрация
            отказывается от каких-либо заверений и гарантий, предоставление
            которых может иным образом подразумеваться, и ответственности в
            отношении djangochannel.com, Сервисов и их использования. Ни при
            каких обстоятельствах Администрация djangochannel.com не будет нести
            ответственности ни перед какой стороной за какой-либо прямой,
            непрямой, особый или иной косвенный ущерб в результате любого
            использования информации на этом сайте или на любом другом сайте, на
            который имеется гиперссылка с djangochannel.com, возникновение
            зависимости, снижения продуктивности, увольнения или прерывания
            трудовой активности, а равно и отчисления из учебных учреждений, за
            любую упущенную выгоду, приостановку хозяйственной деятельности,
            потерю программ или данных в ваших информационных системах или иным
            образом, возникшие в связи с доступом, использованием или
            невозможностью использования djangochannel.com, Сервисов или
            какого-либо связанного интернет-сайта, или неработоспособностью,
            ошибкой, упущением, перебоем, дефектом, простоем в работе или
            задержкой в передаче, компьютерным вирусом или системным сбоем, даже
            если администрация будет явно поставлена в известность о возможности
            такого ущерба.
        </p>
        <p>
            10. За рекламу, размещаемую на
            djangochannel.com, несет ответственность лишь рекламодатель. Сайт
            особо уведомляет о том, что не гарантирует возможность приобретения
            или использования тех или иных товаров или услуг по ценам и/или на
            условиях, указываемых в рекламных блоках(текстах, баннерах).Вы
            соглашаетесь с тем, что djangochannel.com не несет никакой
            ответственности за возможные последствия (включая любой ущерб),
            возникшие в результате каких-либо отношений с рекламодателями.
        </p>
        <p>
            11.
            На djangochannel.com предусмотрена возможность отправки
            пользователями вопросов, замечаний, предложений и другой информации с
            целью включения её в соответствующие разделы djangochannel.com,
            которые могут и будут использоваться другими его посетителями.
            djangochannel.com не несет никакой ответственности ни за содержание и
            точность этой информации, ни за любые рекомендации или мнения,
            которые могут в ней содержаться, ни за применимость её к конкретным
            пользователям. Кроме того, поскольку интернет не обеспечивает в
            полной мере надежной защиты информации, Сайт не несет ответственности
            за информацию, присылаемую через интернет.
        </p>
        <p>
            12. Высылая
            материалы, отправляющая сторона гарантирует и подтверждает, что она
            обладает авторскими правами на эти материалы, получила разрешение на
            публикацию от обладателя авторских прав, или что эти материалы
            являются общественным достоянием и размещаются в соответствии с
            законодательством или требованиями первоисточника. Отправляющая
            сторона также гарантирует и подтверждает, что получатель имеет полное
            и неограниченное право отправки данных материалов, и такая отправка
            не ущемляет ничьих прав и законных интересов.
        </p>
        <p>
            13.
            djangochannel.com может использовать идентификационные файлы cookies
            для хранения как вашей личной, так и общей информации. &laquo;Cookies&raquo;
            представляют собой небольшие текстовые файлы, которые могут
            использоваться интернет-сайтом для опознавания повторных посетителей,
            упрощения доступа и использования посетителем сайта, а также
            отслеживания сайтом обращений посетителей и сбора общей информации
            для улучшения содержания. Пользуясь djangochannel.com, вы выражаете
            свое согласие на использование djangochannel.com cookies.
        </p>
        <p>
            14.
            Администрация оставляет за собой право вносить изменения без
            уведомления о них пользователей. Также Администрация не несет
            ответственности за изменение, редактирование или удаление любой
            информации, добавленной вами на djangochannel.com или другие
            связанные с ним проекты.
        </p>
        <p>
            15. Администрация вправе отказать
            в доступе к djangochannel.com любому Пользователю, или группе
            Пользователей без объяснения причин своих действий и предварительного
            уведомления.
        </p>
        <p>
            16. Администрация вправе изменять либо
            удалять ссылки на информацию, графические, звуковые и прочие данные,
            размещенные Пользователями на djangochannel.com, без предварительного
            уведомления и объяснения причин своих действий.
        </p>
        <p>
            17. Любые
            торговые марки, знаки и названия товаров, служб и организаций, права
            на дизайн, авторские и смежные права, которые упоминаются,
            используются или цитируются на страницах djangochannel.com,
            принадлежат их законным владельцам и их использование здесь не дает
            вам право на любое другое использование. Если не указано иное,
            страницы djangochannel.com никак не связаны с правообладателями, и
            никто, кроме правообладателя, не может распоряжаться правами на
            использование материалов, защищенных авторским правом. Вы несете
            ответственность за использование этих и подобных материалов.
        </p>
        <p>
            18.
            Чтение, распространение или изменение информации, размещённой на
            данном сайте, может являться нарушением законов той страны, в которой
            вы просматриваете этот сайт.
        </p>
        <p>
            19. Бездействие со стороны
            Администрации в случае нарушения Пользователем либо группой
            Пользователей пользовательского соглашения не лишает Администрации
            права предпринять соответствующие действия в защиту интересов
            djangochannel.com позднее.
        </p>
        <p>
            20. Все права на материалы,
            находящиеся на djangochannel.com, охраняются в соответствии с
            законодательством ЕС, в том числе, об авторском праве и смежных
            правах.
        </p>
        <p>
            21. Если в соответствии с действующими законами
            какие-либо условия будут признаны недействительными, остальные
            условия остаются в полной силе.
        </p>
        <p>Используя djangochannel.com, вы
            выражаете свое согласие с &laquo;Отказом от ответственности&raquo; и
            установленными Правилами и принимаете всю ответственность, которая
            может быть на вас возложена.
        </p>
        <p>Администрация djangochannel.com в
            любое время вправе внести изменения в Правила, которые вступают в
            силу немедленно. Продолжение пользования сайтом после внесения
            изменений означает ваше автоматическое согласие на соблюдением новых
            правил.
    </div>
    </div>
{% endblock content %}