hr {
  height: 6px;
  border: none;
  background-image:
    radial-gradient(circle at center, #7888a3 3px, transparent 0px), /* circle */
    linear-gradient(to right, transparent, #7888a3), /* left */
    linear-gradient(to left, transparent, #7888a3); /* right */
  background-size: 6px 6px, calc(50% - 9px) 2px, calc(50% - 9px) 2px;
  background-position: 50% 0%, 0 50%, 100% 50%;
  background-repeat: no-repeat;
    margin-bottom: 15px;
}

.course-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title title"
        "menu menu";
    background: #ecebeb;
    height: 154px;
}
.category-menu {
    grid-area: menu;
    margin-left: 60px;
    padding: 30px 0 10px 100px;
    position: relative;
}
.page-list-title {
    grid-area: title;
    vertical-align: middle;
    margin-top: 50px;
    padding-left: 160px;
    color: #000;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -.73px;
}

.course-menu-link {
    position: relative;
    font-weight: 700;
    font-size: 15px;
    color: #465d81;
    padding-right: 10px;
}

.category-menu a:before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 0;
    height: 4px;
    background: #465d81;
    transition: 500ms cubic-bezier(.165, .84, .44, 1);
}

.category-menu a:hover:before {
    width: 100%;
}
.fl-links{
    display: none;
}

.fl-links .clicker {
	padding: 0 13px;
	line-height: 55px;
	height: 55px;
	display: block;
}

.fl-links .clicker:before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 26px;
    padding-left: 4px;
    padding-top: 2px;
    margin-right: 6px;
    height: 40px;
    cursor: pointer;
    color: #465d81;
}
.fl-links .links {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-family:'Barlow', sans-serif
}
.fl-links .links a {
	padding: 0 0 0 15px;
}
.fl-links .links li {
	font-size: 15px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #465d8169;
}
.fl-links .links li:last-child {
	border: none
}

.fl-links .no-js .fl-nav-links {
	background: #202020;
	background-repeat: repeat;
	background-position: 0 0;
	padding: 15px;
	margin: -2px 0 0 0;
	font-size: 12px;
	line-height: 25px;
	z-index: 100;
	border-top: 0;
	width: 150px;
	position: absolute;
	opacity: 0;
	left: 15px;
	transform: scale(0) rotate(0deg);
	transition: all 0.3s ease-in-out 0s;
	visibility: hidden;
}
.fl-links .no-js:hover .fl-nav-links {
	background: #ebebee;
    padding: 15px 20px;
    margin: 0 0 0 25px;
    width: 250px;
    font-size: 16px;
    line-height: 25px;
    z-index: 100;
    display: block;
    position: absolute;
    right: 50px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transform: scale(1.0) rotate(0deg);
    transform: scale(1.0) rotate(0deg);
    border-radius: 7px;
    border: 1px solid #465d81b0;
    box-shadow: 6px 0 40px rgba(0, 0, 0, 0.36);
}

.fl-links .no-js:hover .fl-nav-links:before {
    content: "";
    clear: both;
    display: block;
    width: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin-top: -23px;
    position: relative;
    z-index: 99;
	float:left;
}

.fl-links .no-js:hover .fl-nav-links .links a {
	color: #414954;
	letter-spacing:normal
}
.fl-links .no-js:hover .fl-nav-links .links a:hover {
	color: #0f6cb2;
	letter-spacing:normal
}

.course-detail-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 65px;
}

.img-course {
    padding: 0 0 0 40px;
}

.img-style-front {
    width: 30%;
    position: absolute;
    transition: 3s;
    backface-visibility: hidden;
}

.img-style-back {
    width: 30%;
    position: absolute;
    transition: 3s;
    backface-visibility: hidden;
    z-index: -1;
}

.img-style-back {
    transform: rotateY(180deg);
}

.img-course:hover .img-style-front {
    transform: rotateY(180deg);
    z-index: -1;
}
.img-course:hover .img-style-back {
    transform: rotateY(360deg);
}

.description-box{
    margin: 0 40px;
    grid-column: 2/5;
    grid-row: 1/2;
    box-shadow: 4px 4px 40px #9e9e9e66;
    border-radius: 7px;
    padding: 0 0 25px 40px;
}

.course-detail-title {
    font-size: 20px;
    margin: 15px;
    line-height: 1.5;
    text-align: center;
    font-weight: 700;
    color: #465d81;
    font-family: Roboto, sans-serif;
}

.line {
    width: 20px;
    grid-column: 2;
    height: 4px;
    grid-row: 1;
    margin: 80px 0 0 40px;
    background: #efe16b;
}

.course-desk {
    padding-right: 20px;
    line-height: 1.5;
    font-size: 15px;
}

.to-order {
    grid-column: 2/4;
    box-shadow: 4px 4px 40px #9e9e9e66;
    border-radius: 7px;
    padding: 0 0 15px 0;
    margin: 50px 40px;
}

.block-enter-course {
    padding: 33px;
    margin: 50px 35px;
    border: 2px solid #c1d5e1;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row-course {
    margin: 0 0 15px 0;
}

.price {
    margin: 40px 10px 0 0;
    color: #639f55;
    font-size: 36px;
    font-weight: bold;
    display: flex;
}

.places-place {
    margin: 0 10px 0 0;
    color: #465d81;
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.places, .places-start {
    margin: 15px 10px 0 0;
    color: #465d81;
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.places-time {
    color: #465d81;
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.places-text {
    padding: 17px 0 0 10px;
    line-height: 1;
    font-weight: 600;
    color: #333333;
    font-size: 16px;
}

.btn-enter-course {
    margin: -8px 0 0 -115px;
    padding: 5px;
    border: 2px solid #c1d5e1;
    border-radius: 10px;
    width: fit-content;
    height: max-content;
    background: #4CAF50;
    transform: translateY(108px);
}

.btn-enter-course:hover {
    background: #268d2be8;
}

.btn-course {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.btn-on-course {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;

}

.btn-on-course:hover {
    color: #000;
    background-color: #268d2be8;
}

.title-prog-course {
    margin: 80px 0 0 37px;
    grid-column: 1;
    grid-row: 3;
}

.title-prog-course h3 {
    font-size: 26px;
    color: #465d81;
}

.footnote{
    margin: 50px 0 0 60px;
    grid-column: 1;
}

.program-course {
    grid-column: 2/5;
    margin: 0 40px 0 40px;
    box-shadow: 4px 4px 40px #9e9e9e66;
    border-radius: 7px;
    padding: 0 0 25px 20px;
}

.prog-ul {
    line-height: 1.5;
    font-size: 15px;
    padding: 25px 40px 0 25px;
}

.border-ul {
    border: 2px solid #c1d5e1;
    border-radius: 5px;
    padding: 0 30px 25px;
    margin-bottom: 15px;
}

.prog-ul h3 {
    color: #465d81;
    font-size: 29px;
    font-weight: 500;
    text-align: center;
    padding: 20px 20px 0 20px;
}

.background-prog-course::before {
    content: "";
    width: 90px;
    height: 90px;
    background-color: #efe16b;
    position: absolute;
    transform: rotate(48deg);
    left: 247px;
    margin-top: 17px;
    z-index: -1;
    border: 2px solid #e7d438bf;
    border-radius: 7px;
    box-shadow: 0 0 40px rgba(174, 174, 174, 0.84);
}

.background-prog-course {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 0 0 40px;
    background: #efe16b;
    grid-row: 3;
    box-shadow: 4px 4px 40px #9e9e9e66;
    border-radius: 7px;
}

.prog-br {
    position: absolute;
    border: 2px solid #e7d438bf;
    border-radius: 7px;
    width: 100%;
    height: 100%;
}

.for-whom {
    position: absolute;
    border-left: 2px solid #086ba773;
    border-bottom: 2px solid #086ba773;
    border-top: 2px solid #086ba773;
    border-radius: 7px;
    width: 100%;
    height: 100%;
}

.req-br {
    position: absolute;
    border: 2px solid #bdaa0078;
    border-radius: 7px;
    width: 100%;
    height: 100%;
}

.title-whom-course {
    position: relative;
    margin: 60px 0 0 25px;
    width: 300px;
    height: 80px;
    background: #c1d5e1;
    line-height: 3;
    border-radius: 7px;
    box-shadow: 4px 4px 40px rgb(193, 213, 225);
}

.title-whom-course h3 {
    font-size: 26px;
    color: #465d81;
    padding-left: 65px;
}

.title-whom-course::before {
    content: "";
    width: 60px;
    height: 61px;
    border: 2px solid #086ba773;
    background-color: #c1d5e1;
    position: absolute;
    transform: rotate(45deg);
    left: 264.5px;
    margin-top: 9px;
    z-index: -1;
    border-radius: 7px;
    box-shadow: 0 0 40px rgba(174, 174, 174, 0.44);
}

.whom-ul {
    font-size: 15px;
    border-radius: 7px;
    padding: 25px 45px 20px;
    grid-column: 2/5;
    box-shadow: 4px 4px 40px #9e9e9e66;
    margin: 50px 40px;
}

.whom-ul ul{
    padding-top: 10px;
}

.whom-ul p{
    border: 2px solid #c1d5e1;
    border-radius: 5px;
    padding: 25px 35px 25px;
    margin-bottom: 15px;
}

.program {
    margin: 50px 0 50px 0;
}

.title-req-course {
    position: relative;
    margin: 20px 0 0 25px;
    width: 300px;
    height: 110px;
    background: #eddf69;
    border-radius: 7px;
    box-shadow: 4px 4px 40px #9e9e9e66;
}

.title-req-course h3 {
    padding: 13px 0 0 55px;
    font-size: 26px;
    color: #465d81;
}

.title-req-course::before {
    content: "";
    width: 60px;
    height: 61px;
    background-color: #efe16b;
    position: absolute;
    transform: rotate(48deg);
    left: 262px;
    margin-top: 10px;
    z-index: -1;
    border: 2px solid #bdaa0078;
    border-radius: 7px 7px 0 0;
    box-shadow: -2px -1px 20px 0 rgb(207, 207, 207);
}

.req-ul {
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
    padding: 25px 45px 20px;
    margin: 0 40px 0 40px;
    grid-column: 2/5;
    box-shadow: 4px 4px 40px #9e9e9e66;
}

.req-border{
    border: 2px solid #c1d5e1;
    border-radius: 5px;
    padding: 25px 35px 25px;
    margin-bottom: 15px;
}

.programm {
    margin: 50px 40px 50px 40px;
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
    padding: 25px;
    grid-column: 2/5;
    box-shadow: 4px 4px 40px #9e9e9e66;
}

.programm h3 {
    font-size: 24px;
    color: #465d81;
    padding: 20px;
}
.form-input-control{
    display: flex;
    justify-content: center;
}
.form-group{
    position: relative;
    padding: 10px 0 10px;
    margin-top: 5px;
}

.course-form label {
    display: flex;
    position: absolute;
    top: -15px;
    left: 105px;
}

.form-control {
    width: 220px;
    margin: 10px 5px 10px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-control {
    width: 450px;
    height: 200px;
    margin: 10px 5px 10px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    display: inline-block;
    margin: 15px 0 0 0;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    transition: 1.5s;
    font-weight: 600;
    font-size: 17px;
}

.btn-warning:hover {
    color: #212529;
    background: rgba(255, 193, 7, 0.5);
    border-color: #ffc10782;
}

.btn-warning:active {
    color: #212529;
    background: rgb(255, 193, 7);
    transition: 0.5s;
}

@media screen and (max-width: 1080px){
    .course-detail-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 65px;
    }
    .img-course {
        display: none;
    }
    .img-style-front {
    width: 50%;
    transition: 4.5s;
    position: static;
    }
    .description-box {
    /*grid-area: description-box; */
    margin: 0 40px;
    grid-column: 1/5;
    grid-row: 1;
    box-shadow: 4px 4px 40px #9e9e9e66;
    border-radius: 7px;
    padding: 0 0 25px 40px;
    }
    .to-order {
    grid-column: 1/5;
    grid-row: 2;
    box-shadow: 4px 4px 40px #9e9e9e66;
    border-radius: 7px;
    padding: 0 0 15px 0;
    margin: 50px 40px;
    }
    .background-prog-course {
    display: none;
    width: 300px;
    height: 200px;
    margin: 0 0 0 40px;
    background: #efe16b;
    grid-row: 3;
    box-shadow: 4px 4px 40px #9e9e9e66;
    border-radius: 7px;
    }
    .program-course {
    grid-column: 1/5;
    grid-row: 3;
    margin: 0 40px 0 40px;
    box-shadow: 4px 4px 40px #9e9e9e66;
    border-radius: 7px;
    padding: 0 0 25px 20px;
    }
    .title-whom-course {
    margin: 60px 0 0 25px;
    display: none;
    padding: 0 0 0 56px;
    width: 300px;
    height: 80px;
    background: #c1d5e1;
    line-height: 3;
    border-radius: 7px;
    box-shadow: 4px 4px 40px rgb(193, 213, 225);
    }
    .whom-ul {
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
    padding: 25px 40px;
    grid-row: 4;
    grid-column: 1/5;
    box-shadow: 4px 4px 40px #9e9e9e66;
    margin: 50px 40px;
    }
    .title-req-course {
    display: none;
    margin: 20px 0 0 25px;
    padding: 15px 0 0 55px;
    width: 300px;
    height: 110px;
    background: #eddf69;
    border-radius: 7px;
    box-shadow: 4px 4px 40px #9e9e9e66;
    }
    .req-ul {
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
    padding: 25px 40px;
    margin: 0 40px 0 40px;
    grid-column: 1/5;
    grid-row: 5;
    box-shadow: 4px 4px 40px #9e9e9e66;
    }
    .programm {
    margin: 50px 40px 50px 40px;
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
    padding: 25px;
    grid-column: 1/5;
    grid-row: 6;
    box-shadow: 4px 4px 40px #9e9e9e66;
    }
}
@media screen and (max-width: 890px) {
    .course-detail-title {
        font-size: 18px;
        margin: 15px 50px 15px 0;
        padding: 0 50px 0 0;
        line-height: 1.5;
        text-align: center;
        font-weight: 700;
        color: #465d81;
        font-family: Roboto, sans-serif;
    }
}
@media screen and (max-width: 768px) {
    .course-main {
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "title title" "mob-menu mob-menu";
        background: #ecebeb;
    }
    .course-detail-title {
        font-size: 16px;
    }
    .prog-ul h3 {
        font-size: 24px;
    }
    .fl-links {
        display: block;
        grid-area: mob-menu;
        grid-column: 1/2;
        margin-left: 25px;
        margin-top: 15px;
    }
    .category-menu {
        display: none;
    }
}
@media screen and (max-width: 680px) {
    .img-course {
        display: none;
    }
    .description-box {
        margin: 0 40px;
        grid-column: 1/4;
        grid-row: 1/2;
        box-shadow: 4px 4px 40px #9e9e9e66;
        border-radius: 7px;
        padding: 0 0 25px 40px;
    }
    .course-detail-title {
        font-size: 14px;
        padding: 0;
    }
}

@media screen and (max-width: 640px) {
    .block-enter-course {
        padding: 33px 10px 33px 10px;
        margin: 50px 10px;
        border: 2px solid #c1d5e1;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .course-form label {
        left: 75px;
    }
}
@media screen and (max-width: 490px) {
    .block-enter-course {
        padding: 20px 10px 20px 10px;
        margin: 50px 10px;
        border: 2px solid #c1d5e1;
        border-radius: 10px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 40px);
    }
    .price {
        margin: 10px 10px 0 0;
        color: #639f55;
        font-size: 36px;
        font-weight: bold;
        display: grid;
        grid-row: 5/7;
    }
    .btn-enter-course {
        margin: -8px 0 0 60px;
        padding: 5px;
        border: 2px solid #c1d5e1;
        border-radius: 10px;
        width: fit-content;
        height: max-content;
        background: #4CAF50;
        transform: translateY(48px);
    }
    .footnote {
        margin: 0 0 0 15px;
        grid-column: 1;
    }
    .prog-ul h3 {
        font-size: 22px;
    }
    .course-form label {
        left: 55px;
    }
    .programm h3 {
        font-size: 19px;
    }
}
@media screen and (max-width: 480px){
    .page-list-title {
        padding-left: 180px;
    }
    .course-desk {
        margin-left: -10px;
    }
    .course-detail-title {
        font-size: 12px;
        padding: 0;
    }
    .description-box {
        padding: 0 0 20px 40px;
}
    .prog-ul h3 {
        font-size: 17px;
        padding: 20px 20px 0 0;
    }
    .prog-ul {
        padding: 25px 15px 0 0;
    }
    .block-enter-course {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .btn-enter-course {
        margin: 5px 0 0 75px;
        transform: translateY(45px);
    }
    .price {
        margin: 10px 10px 0 60px;
        color: #639f55;
        font-size: 36px;
        font-weight: bold;
        display: flex;
    }
    .btn-course {
        font-size: 14px;
    }
    .footnote {
        font-size: 14px;
        text-align: center;
        margin: 0;
    }
    .programm h3 {
        font-size: 16px;
    }
    .text-control {
        height: 150px;
    }
}
@media screen and (max-width: 468px) {
    .block-enter-course {
        padding: 20px 10px 20px 10px;
        margin: 50px 10px;
        border: 2px solid #c1d5e1;
        border-radius: 10px;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 40px);
    }
    .price {
        margin: 10px 10px 0 0;
        color: #639f55;
        font-size: 36px;
        font-weight: bold;
        display: grid;
        grid-row: 5/7;
    }
    .btn-enter-course {
        margin: -8px 0 0 60px;
        padding: 5px;
        border: 2px solid #c1d5e1;
        border-radius: 10px;
        width: fit-content;
        height: max-content;
        background: #4CAF50;
        transform: translateY(48px);
    }
    .footnote {
        margin: 0 0 0 15px;
        grid-column: 1;
    }
}
@media screen and (max-width: 440px){
    .course-detail-title {
        font-size: 12px;
        padding: 0;
    }
    .course-desk {
        padding-right: 20px;
        line-height: 1.5;
        font-size: 15px;
        margin-left: -15px;
    }
    .price {
        margin: 20px 10px 0 0;
        color: #639f55;
        font-size: 36px;
        font-weight: bold;
        display: grid;
        grid-row: 5/7;
    }
    .places-text {
        padding: 0;
        line-height: 1;
        font-weight: 600;
        color: #333333;
        font-size: 16px;
    }
    .btn-enter-course {
        margin: -8px 0 0 40px;
        padding: 5px;
        border: 2px solid #c1d5e1;
        border-radius: 10px;
        width: fit-content;
        height: max-content;
        background: #4CAF50;
        transform: translateY(48px);
    }
    .footnote {
        margin: 0 0 0 15px;
        grid-column: 1;
    }

    .btn-enter-course {
        margin: -8px 0 0 50px;
    }
    .btn-course {
        font-size: 14px;
    }
}
@media screen and (max-width: 414px){
    .course-detail-title {
        font-size: 12px;
        padding: 0;
    }
    .course-desk {
        padding-right: 11px;
        line-height: 1.5;
        font-size: 15px;
        margin-left: -25px;
    }
    .price {
        margin: 20px 10px 0 0;
        color: #639f55;
        font-size: 36px;
        font-weight: bold;
        display: grid;
        grid-row: 5/7;
    }
    .places-text {
        padding: 0;
        line-height: 1;
        font-weight: 600;
        color: #333333;
        font-size: 16px;
    }
    .btn-enter-course {
        margin: -8px 0 0 40px;
        padding: 5px;
        border: 2px solid #c1d5e1;
        border-radius: 10px;
        width: fit-content;
        height: max-content;
        background: #4CAF50;
        transform: translateY(48px);
    }
    .footnote {
        margin: 0;
        grid-column: 1;
        font-size: 13px;
    }

    .btn-enter-course {
        margin: -8px 0 0 45px;
    }
    .btn-course {
        font-size: 14px;
    }
    .border-ul {
        border: 2px solid #c1d5e1;
        border-radius: 5px;
        padding: 0 20px 25px;
        margin-bottom: 15px;
    }
    .whom-ul {
        text-align: center;
        font-size: 15px;
        border-radius: 7px;
        padding: 25px 20px;
        grid-row: 4;
        grid-column: 1/5;
        box-shadow: 4px 4px 40px #9e9e9e66;
        margin: 50px 40px;
    }
    .whom-ul p {
        border: 2px solid #c1d5e1;
        border-radius: 5px;
        padding: 25px 20px 25px;
        margin-bottom: 15px;
    }
    .req-ul {
        padding: 25px 20px;
    }
    .req-border {
        padding: 25px 20px 25px;
    }
    .form-input-control {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .text-control {
        height: 150px;
        width: 220px;
    }
}
@media screen and (max-width: 320px){
    .page-list-title {
        padding-left: 95px;
    }
    .description-box {
        margin: 0;
        grid-column: 1/4;
        grid-row: 1/2;
        box-shadow: 4px 4px 40px #9e9e9e66;
        border-radius: 7px;
        padding: 0 0 25px 40px;
    }
    .to-order {
        grid-column: 1/5;
        grid-row: 2;
        box-shadow: 4px 4px 40px #9e9e9e66;
        border-radius: 7px;
        padding: 0 0 15px 0;
        margin: 50px 0 0 0;
    }
    .whom-ul {
        margin: 0 0 50px;
        padding: 25px 15px 0 20px;
    }
    .req-ul {
        margin: 0;
        padding: 25px 15px 0 20px;
    }
    .course-detail-title {
        font-size: 9px;
        padding: 0;
    }
    .programm {
        margin: 50px 0;
    }
    .programm h3 {
        font-size: 15px;
    }
    .prog-ul h3 {
        font-size: 17px;
        padding: 20px 20px 0 0;
    }
    .prog-ul {
        padding: 25px 15px 0 0;
    }
    .btn-enter-course {
        margin: -30px 0 0 35px;
        transform: translateY(45px);
    }
    .program-course {
        grid-column: 1/5;
        grid-row: 3;
        margin: 50px 0 40px;
        box-shadow: 4px 4px 40px #9e9e9e66;
        border-radius: 7px;
        padding: 0 0 25px 20px;
    }
    .btn-course {
        font-size: 14px;
    }
    .footnote {
        font-size: 12px;
        text-align: center;
        margin: 0;
    }
    .form-control{
        width: 100%;
    }
    .price {
        margin: 35px 10px 0 20px;
    }
    .places-text {
        padding: 20px 0 0 10px;
    }
    .text-control {
        width: 100%;
    }
}