.course-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title title"
        "menu menu";
    background: #ecebeb;
    height: 154px;
}

@media (max-width: 768px) {
    .course-main {
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "title title" "mob-menu mob-menu";
        background: #ecebeb;
    }
}

.page-list-title {
    grid-area: title;
    vertical-align: middle;
    margin-top: 50px;
    padding-left: 160px;
    color: #000;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -.73px;
}

.category-menu {
    grid-area: menu;
    margin-left: 60px;
    padding: 30px 0 10px 100px;
    position: relative;
}

@media (max-width: 768px) {
    .category-menu {
        display: none;
    }
}

.course-menu-link {
    position: relative;
    font-weight: 700;
    font-size: 15px;
    color: #465d81;
    padding-right: 10px;
}

.category-menu a:before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 0;
    height: 4px;
    background: #465d81;
    transition: 500ms cubic-bezier(.165, .84, .44, 1);
}

.category-menu a:hover:before {
    width: 100%;
}

.fl-links{
    display: none;
}

.fl-links .clicker {
    margin-left: 10px;
	padding: 0 13px;
	line-height: 55px;
	height: 55px;
	display: block;
}
.img-small-menu{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.fl-links .clicker:before {
    content: '';
    font-size: 26px;
    padding-left: 4px;
    padding-top: 2px;
    margin-right: 6px;
    height: 40px;
    cursor: pointer;
    color: #465d81;
}

.fl-links .links {
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	font-family:'Barlow', sans-serif
}

.fl-links .links a {
	padding: 0 0 0 15px;
}

.fl-links .links li {
	font-size: 15px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #465d8169;
}

.fl-links .links li:last-child {
	border: none
}

.fl-links .no-js .fl-nav-links {
	background: #202020;
	background-repeat: repeat;
	background-position: 0 0;
	padding: 15px;
	margin: -2px 0 0 0;
	font-size: 12px;
	line-height: 25px;
	z-index: 100;
	border-top: 0;
	width: 150px;
	position: absolute;
	opacity: 0;
	left: 15px;
	transform: scale(0) rotate(0deg);
	transition: all 0.3s ease-in-out 0s;
	visibility: hidden;
}
.fl-links .no-js:hover .fl-nav-links {
	background: #ebebee;
    padding: 15px 20px;
    margin: 0 0 0 25px;
    width: 250px;
    font-size: 16px;
    line-height: 25px;
    z-index: 100;
    display: block;
    position: absolute;
    right: 50px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transform: scale(1.0) rotate(0deg);
    transform: scale(1.0) rotate(0deg);
    border-radius: 7px;
    border: 1px solid #465d81b0;
    box-shadow: 6px 0 40px rgba(0, 0, 0, 0.36);
}

.fl-links .no-js:hover .fl-nav-links:before {
    content: "";
    clear: both;
    display: block;
    width: 0;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin-top: -23px;
    position: relative;
    z-index: 99;
	float:left;
}

.fl-links .no-js:hover .fl-nav-links .links a {
	color: #414954;
	letter-spacing:normal
}
.fl-links .no-js:hover .fl-nav-links .links a:hover {
	color: #0f6cb2;
	letter-spacing:normal
}

.page-section {
    padding: 100px 0 60px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.course-item {
    margin: 0 0 35px 0;
    height: 160px;
    padding: 45px 50px;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffff;
    cursor: pointer;
    border-radius: 7px;
}

.list-item{
    grid-column: 2/5;
    }

@media screen and (max-width: 1180px){
    .list-item {
    grid-column: 1/6;
    margin: 0 65px;
    }
}

@media (max-width: 968px) {
    .course-item {
        margin: 0 0 35px 0;
        height: 160px;
        padding: 40px 10px;
        color: #000;
        display: grid;
        align-items: center;
        box-shadow: 0 2px 24px rgba(168, 175, 196, .5);
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #ffff;
        cursor: pointer;
    }
    .list-item{
    grid-column: 1/6;
    margin: 0 65px;
    }
}

@media (max-width: 768px) {
    .fl-links {
        display: block;
        grid-area: mob-menu;
        grid-column: 1/2;
        margin-left: 25px;
        margin-top: 15px;
    }
    .page-section {
        padding: 100px 0 60px;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .course-item {
        margin: 0 0 25px 0;
        height: 180px;
        padding: 40px 20px;
        color: #000;
        display: grid;
        align-items: center;
        box-shadow: 0 2px 24px rgba(168, 175, 196, .5);
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #ffff;
        cursor: pointer;
    }
    .list-item{
    grid-column: 1/4;
    margin: 0 25px;
    }
}
@media (max-width: 520px){
    .course-item {
        margin: 0 0 25px 0;
        height: 180px;
        padding: 40px 20px;
        color: #000;
        display: grid;
        text-align: center;
        box-shadow: 0 2px 24px rgba(168, 175, 196, .5);
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #ffff;
        cursor: pointer;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 320px){
.course-item {
    margin: 0 0 25px 0;
    height: auto;
    padding: 40px 20px;
    color: #000;
    display: grid;
    align-items: center;
    box-shadow: 0 2px 24px rgba(168, 175, 196, .5);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffff;
    cursor: pointer;
    grid-template-columns: 1fr;
    }
}

.course-item:hover {
    box-shadow: 0 10px 50px rgba(168, 175, 196, .7);
}

.course-info {
    position: relative;
}

.course-info:before {
    content: "";
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 2px;
    height: 49px;
    background: rgba(151, 159, 183, .3);
}

@media (max-width: 768px) {
    .course-info:before {
        display: none;
    }
}

.tag-item {
    box-sizing: border-box;
    padding: 2px 9px 0;
    text-transform: uppercase;
    color: #fff;
    background: #465d81;
    height: 24px;
    font-size: 14px;
    display: inline-block;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: .91px;
    width: max-content;
}

.course-title {
    font-weight: 700;
    font-size: 20px;
}

.course-extras {
    margin: 0 auto;
    color: #677296;
    font-size: 15px;
    letter-spacing: -.5px;
}

@media (max-width: 768px) {
    .course-extras {
        margin: 0 auto;
        color: #677296;
        font-size: 15px;
        letter-spacing: -.5px;
        display: contents;
    }
}